<div class="page">
  <h1>Input</h1>

  <div class="plain-text">
    <mat-form-field appearance="outline">
      <mat-label>Normal Text</mat-label>
      <textarea rows="10" matInput [formControl]="plainText"></textarea>
    </mat-form-field>
  </div>

  <div class="settings">
    <mat-form-field appearance="outline">
      <mat-label>Emoji Text Color</mat-label>
      <mat-select [formControl]="emojiColor">
        <mat-option value="white">White</mat-option>
        <mat-option value="yellow">Yellow</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Word Spacing</mat-label>
      <input matInput type="number" [formControl]="emojiWordSpacing" />
    </mat-form-field>
  </div>

  <hr />
  <h1>Output</h1>

  <div class="emoji-text">
    <mat-form-field appearance="outline">
      <mat-label>Emoji Text</mat-label>
      <textarea
        rows="10"
        #emojitextarea
        matInput
        class="emoji-text"
        [formControl]="emojiText"
      ></textarea>
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="copyToClipboard(emojitextarea)"
  >
    Copy
  </button>
</div>
